* {
padding: 0;
margin: 0;
}


/* Header */
header {
    align-items: center;
    display: flex;
    height: 100px;
    width: 1440px;
    justify-content: space-around;
    text-align: center;

}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Modificación para los detalles del menú*/
.menu {
    color: #242E52;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-right: 20px;
}

.menu:hover {
    color: rgba(36, 46, 82, 0.60);
    cursor: pointer; 
}

.menu::first-letter {
    text-transform: capitalize;
}

/* Detalle de los dos botones de contacto*/
.contact {
    align-items: center;
    background: #8B48BF;
    border: 2px solid #ccc;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
    color: #FFF;
    display: flex;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 13.181px;
    font-weight: 500;
    height: 44px;
    justify-content: center;
    padding: 10px;
    width: 134px;
}

.contact:hover {
    background-color: rgba(139, 72, 191, 0.70); /* Color de fondo al pasar el cursor */
    cursor: pointer; 
}

/* Main */
#inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

#contenido-live {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;
}

#items-live {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 1090px;
    height: 462px;
}

#img {
    width: 100vw; /* La imagen ocupará el 50% del ancho del viewport */
    max-width: 100%; /* Para asegurarte de que no se desborde del contenedor */
    height: auto; /* Para mantener la relación de aspecto original */
}


/* Diseño de la información */
#titulo {
    color: #232C50;
    text-align: right;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1.75px;
}

#p {
    display: flex;
    height: 71px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: right;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.03rem;
    font-weight: 500;
    line-height: 157.1%;
}

#informacion {
    display: flex;
    width: 100%;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: #8B48BF;
    width: 1440px;
}

#titulo-informacion, #desktop-p2 {
    width: 33%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Be Vietnam', sans-serif;
    
}

#desktop-p2 {
    font-size: 16px;
    font-weight: 500;
}

#titulo-informacion{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

#ol {
    box-sizing: border-box;
    width: 1440px ;
    background-color: rgb(249, 249, 249);
    padding: 2% 1%;
    
}



/* Estilos para la lista ordenada */
ol {
    list-style: none;
    counter-reset: my-counter;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap; /* Hacer que los elementos de la lista se envuelvan en filas */
    justify-content: center; /* Centrar horizontalmente los elementos */
    margin: 3% 3%;
    
}

/* Estilos para cada elemento de la lista */
ol li {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    flex-basis: calc(50% - 10px); /* Calcula el ancho de cada columna */
}

/* Estilos para el último elemento de la lista */
ol li:last-child {
    flex-basis: calc(50% - 10px); /* Ocupar el 50% del ancho disponible en la última fila */
    margin-left: auto; /* Empujar el último elemento hacia la derecha */
    margin-right: auto; /* Empujar el último elemento hacia la izquierda */
    margin-top: 3%;
}

/* Estilos para el número de lista */
ol li::before {
    content: counter(my-counter, decimal-leading-zero); /* Agregar ceros a la izquierda */
    counter-increment: my-counter;
    color: white;
    background-color: #8B48BF;
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
}

ol h3 {
    margin: 2%; /* Elimina el margen predeterminado del h3 */
}

ol p{
    margin-right: 10%;
}

.numeracion h3, .numeracion-2 h3{
    color: #323851;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
}

.numeracion p, .numeracion-2 p {
    color: #B3B2B7;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%; /* 25.523px */
    letter-spacing: -0.163px;
}

/* Aqui titulo de la seccion de deportistas*/
h1.titulo {

    height: 60px;
    width: 410px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.7px;
    font-size: 50px;
    color: rgb(48, 48, 77);
    margin-bottom: 110px ;
    margin-left: 34%;
    margin-top: 110px  ;
    font-weight: bolder;
    }

/* Aqui el css de los deportistas y su descripcion*/

section.uno {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    width: 1335px;
    margin-right: 3.6%;
    margin-left: 3.6%;
    margin-bottom: 0px;
    }

    /* Aqui la caja de cada deportista*/
section.uno article {
    
    height: 250px;
    width: 33%;
    background-color: rgb(249, 249, 249);
    color: rgb(168, 166, 166);
    text-align: center;
    font-size:20px;
    letter-spacing: 0.7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    gap: 3px;
    margin-bottom:60px ;
    padding-top: 0px;
    }


section.uno article img {
        position: relative;
        bottom: 60px;
        width: 100px;
        height: 100px;
        }

/* La imagen es originalmente cuadrada, aqui lo redondeo*/
section.uno article img.sanyo {
        border-radius:  60px; 
        }

section.uno article h3 {
    letter-spacing: 0px;
    color: rgb(54, 54, 54);
    margin-bottom: 40px;
    }

section.uno article div {
        position: relative;
        bottom: 60px;
        padding-top: 0px;
        width: ;
    } 


button.uno {
        margin:20px 45% 150px 45%;
        padding: 15px 48px;
        background-color: rgb(151, 72, 224);
        color: white;
        font-size:14px ;
        letter-spacing: 0.7px;
        border: none;
        border-radius: 22px;
        cursor:pointer;
        text-align: center;
        width: fit-content;
        height: fit-content;
        }

/* Aqui el hover de el boton de More, se aclara un poco al posiciarnos*/
button.uno:hover {
        background-color: rgb(166, 107, 221);
        }
    

/* Aqui la seccion dos : es pequeña incluye las letras y un boton*/

section.dos {
        display: flex;
        flex-direction: row;
        width: 1440px;
        height: 220px;
        background-color: rgb(146, 77, 211);
        }
    
section.dos p {
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 40px;
        letter-spacing: 1.5px;
        width: 50%;
        font-weight:bold;
        text-align: center;
        padding-top: 25px;
        margin-top: 2%;
        }

section.dos button {
        
        margin:90px 60px 90px 350px;
        padding: 15px 40px;
        background-color: white;
        color: blueviolet;
        border: none;
        border-radius: 22px;
        cursor: pointer;
        text-align: center;
        width: fit-content;
        height: fit-content;
        }

/* Aqui el footer que se divide en tres partes*/
footer {

        display:flex ;
        width: 1440px;
        height: 250px;
        background-color: #1E1E26;
        color: white;
        box-sizing: border-box;
        }

footer section{
        box-sizing: border-box;
        width: 25%;
        font-family: 'Be Vietnam';
        font-style: normal;
        letter-spacing: 0.8px;
        }

footer section:first-child{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    }
footer section img.one {
    margin: 50px 160px 20px 160px;
    width:fit-content;
    height:fit-content;
    }

footer section div {
    margin-top: 50px;
    display:flex;
    margin-left: 160px;
    gap : 15px;
    }

footer section.list {
    display: flex;
    flex-direction: row;
    width: 50%;
    }

footer section.list div {
        width: 50%;
        display: flex;
        align-content: flex-start ;
        margin:0px;
        margin-left: 70px ;
        margin-top: 10px;
        }

footer section.list ul {
    
    color: rgb(209, 209, 191);
    list-style: none;
    margin-top: 50px ;
    }

footer section ul li {
    margin-bottom: 15px;
    }

footer section:last-child {
    color: rgb(209, 209, 191);
    display: column;
    row-gap: 10px;
    margin-right:8% ;
    }

footer section:last-child input{
        padding: 15px 25px;
        background-color: white;
        color: aliceblue;
        border: none;
        border-radius: 22px;
        margin-top: 50px;
        margin-bottom: 70px;
        }

/* Aqui el ultimo boton de Go en la ultima seccion del footer*/
footer section:last-child button {
    
        padding: 15px 25px;
        background-color: rgb(151, 72, 224);
        color: white;
        border: none;
        border-radius: 22px;
        cursor: pointer;
        text-align: center;
        width: fit-content;
        height: fit-content;
}

footer section:last-child p {
        margin-left: 55px;
}

@media (min-width: 600px) {
    #bars {
        display: none;
    }
    #mobile-p2{
        display: none;
    }
}

@media (max-width: 480px) {
    section.uno article:first-child {
    display: none;
}
    section.uno article:last-child {
    display: none;
}

html, body {
    overflow-x: hidden;
}

header ul {
    display: none;
}

#contact-header {
    display: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    gap: 12.5rem;
}

#logo {
    display: inline-block;
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Ajusta la altura para mantener la proporción original */
}

#bars {
    width: 25px; /* Ancho deseado para el icono SVG */
    height: 18px; /* Altura deseada para el icono SVG */
    display: inline-block; /* Hacer que el icono SVG sea inline con otros elementos */
    margin-right: 10px; /* Agregar margen entre el icono SVG y el icono "fa-bars" */
}

#inicio {
    display: flex;
    align-items: center;
    margin: 50% 10%;
}

#items-live {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

#img {
    max-width: 100%;
}

#informacion {
    display: flex;
    width: 100%;
    padding: 40px 20px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 50px;
    background: #3CDDF3;
}

#desktop-p2 {
    display: none;
}

#titulo-informacion, #mobile-p2 {
    width: 70%;
}

#mobile-p2 {
    display: block;
    text-align: left;
    margin-left: 2%;
    font-size: 16px;
    margin-left: 2%;
    font-weight: 500;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Be Vietnam', sans-serif;
}

.caja{
    list-style: none; /* Elimina los marcadores de lista predeterminados */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    display: flex; /* Utiliza flexbox para controlar el diseño */
    flex-direction: column; /* Organiza los elementos en una columna */
    gap: 20px;
}

ol li::before {
    display: none;
}

.contenido-numeracion h3{
    border-radius: 50px 0px 0px 50px;
    background: rgba(139, 72, 191, 0.30);
    width: 100%;
    margin-right: 0;
    padding-right: 0; 
}

.contenido-numeracion p{
    margin-top: 5%;
}

.contenido-numeracion h3::before {
    content: counter(my-counter, decimal-leading-zero);
    counter-increment: my-counter;
    color: white;
    background-color: #8B48BF;
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
}

h1.titulo {
    
    margin-bottom: 110px;
    margin-left: 20%;
    margin-top: 110px;
    font-size: 36px;
    width: fit-content;
    }


section.uno  {
    width: 450px;
    margin-left: auto;
    box-sizing: border-box;
    }

section.uno article {
    height: 250px;
    width: 98%;
    margin-bottom:60px;
    }

button.uno {
    margin-left: 37%;
    margin-bottom: 50px;
    }

section.dos {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 380px;
    background-color: rgb(78, 197, 245);
    }

section.dos p {

    width: 60vw;
    margin-left: 20%;
    margin-top: 5%;
    }

section.dos button {
    
    margin:40px 34% 10% 34%;
    padding: 15px 40px;
    background-color: rgb(15, 15, 15);
    color: rgb(247, 246, 248);
    border-radius: 22px;
    width: 140px;
    }

/* Aqui el footer , use el column-reverse para poner el lastchild de section primero.*/
footer {

    display:flex ;
    flex-direction: column-reverse;
    width: 1440px;
    height: 500px;
    color: white;
    }


footer section{
    width: 100vw;
    font-family: 'Be Vietnam';
    font-style: normal;
    letter-spacing: 0.8px;
    position: relative;
    bottom: 40px;
    margin-left: 2%;
    }


footer section:last-child {
    flex-direction: row;
    height: 100px;
    margin-bottom: 30px;
    margin-top:0px ;
    }
    
footer section:last-child input{
    margin-top: 0px;
    margin-left: 4%;
    width: 260px;
    margin-right: 7px;
    }

footer section:last-child button {
    
    margin-right: 0%;
    }
    
footer section.list {
    position: relative;
    bottom: 80px;
    display:inline-flex;
    flex-direction: row;
    width: 100vw;
    height: 190px;
    }

footer section.list div ul {
    color: rgb(209, 209, 191);
    list-style: none;
    margin: 0%;
    
    }

footer section.list div:last-child {
    margin-right: 50px;
    }


footer section.list ul li {
    margin-bottom: 15px;
    }

/* Aqui la ultima seccion que es el first child en el modo desktop*/
footer section:first-child{

    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 0px;
    bottom: 80px;
    position: relative;
    }

footer section img.one {
    margin: 38px 33% 20px 33%;
    width:fit-content;
    height:fit-content;
    }

footer section div {

    margin-top: 0px;
    display:flex;
    margin-left: 5%;
    gap : 15%;
    }

footer section:last-child p {
    color: rgb(100, 99, 99);
    display: inline-block;
    margin-left: 20%;
    position: relative;
    top: 280px;
    font-size: smaller;
    }
        
}





