
h1.titulo {
    display: inline-flex;
    text-align: center;
    height: 60px;
    width: 450px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.7px;
    font-size: 50px;
    color: rgb(48, 48, 77);
    margin-bottom: 110px ;
    margin-left: 600px;
    margin-top: 110px  ;
    font-weight: bolder;
     }


article.uno {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 0px;

}

article.uno section {
    box-sizing: content-box;  
    height: 250px;
    width: 450px;
    background-color: rgb(249, 249, 247);
    color: rgb(168, 166, 166);
    text-align: center;
    font-size:21px;
    letter-spacing: 0.7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    gap: 3px;
    margin-bottom:60px ;
    padding-top: 0px;
}


article.uno section img {
        position: relative;
        bottom: 60px;
        width: 100px;
        height: 100px;
        
    }

article.uno section img.sanyo {
        border-radius:  60px; 
    }

article.uno section h3 {
    letter-spacing: 0px;
    color: rgb(54, 54, 54);
    margin-bottom: 40px;

    }

article.uno section div {
        position: relative;
        bottom: 60px;
        padding-top: 0px;
    } 


button.uno {
        margin:10px 750px 150px 750px;
        padding: 15px 48px;
        background-color: rgb(151, 72, 224);
        color: white;
        font-size:14px ;
        letter-spacing: 0.7px;
        border: none;
        border-radius: 22px;
        cursor:pointer;
        text-align: center;
        width: fit-content;
        height: fit-content;
}

button.uno:hover {
        background-color: rgb(166, 107, 221);
}
    


article.dos {
        display: flex;
        flex-direction: row;
        width: 1600px;
        height: 220px;
        background-color: rgb(146, 77, 211);
    }
    
article.dos p {
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 40px;
        letter-spacing: 1.5px;
        width: 50%;
        font-weight:bold;
        text-align: center;
        padding-top: 25px;
    }

article.dos button {
        
        margin:90px 60px 90px 450px;
        padding: 15px 40px;
        background-color: white;
        color: blueviolet;
        border: none;
        border-radius: 22px;
        cursor: pointer;
        text-align: center;
        width: fit-content;
        height: fit-content;
          
    }


footer {

        display:flex ;
        width: 1600px;
        height: 250px;
        background-color: rgb(31, 30, 30);
         color: white;
    }

footer section{
        width: 25%;
        height: 200px;
        font-family: 'Be Vietnam';
        font-style: normal;
        letter-spacing: 0.8px;
   
}

footer section:first-child{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
footer section img.one {
    margin: 50px 160px 20px 160px;
    width:fit-content;
    height:fit-content;
}

footer section div {
    margin-top: 50px;
    display:flex;
    margin-left: 160px;
    gap : 15px;

}


footer section ul {
    color: rgb(209, 209, 191);
    list-style: none;
    margin-top: 50px ;

}
footer section ul li {
    margin-bottom: 15px;
}

footer section:last-child {
    color: rgb(209, 209, 191);
    display: column;
    row-gap: 10px;
}

footer section:last-child input{
        padding: 15px 25px;
        background-color: white;
        color: aliceblue;
        border: none;
        border-radius: 22px;
        margin-top: 50px;
        margin-bottom: 70px;
}


footer section:last-child button {
    
        padding: 15px 25px;
        background-color: rgb(151, 72, 224);
        color: white;
        border: none;
        border-radius: 22px;
        cursor: pointer;
        text-align: center;
        width: fit-content;
        height: fit-content;
}

footer section:last-child p {
        margin-left: 60px;
}